* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%
    
}

.header {
    height: 60px;
    background-color: #27293D;
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.header__nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    
}

.header__logo-link {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
}

.header__nav-course-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.header__nav-course-item {
    margin-right: 20px;
}

.header__nav-course-item:hover .header__subnav-list {
    display: flex;
}

.header__subnav-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
    display: flex;
    height: 136px;
    box-shadow: 0 1px 2px #ccc;
    padding: 0 60px;
    background-color: #fff;
    display: none;
}

.header__subnav-list::before {
    content: "";
    display: block;
    width: 100%;
    height: 35px;
    position: absolute;
    top: -32px;
    left: 0;
}

.header__subnav-item {
    width: 33.333%;
    margin-top: 40px;
}

.header__subnav-item-lv2 {
    position: relative;
}

.header__subnav-speak-level-2 {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 0;
    padding: 10px 0;
    text-decoration: none;
    color: #676767;
}

.header__subnav-speak-level-2:hover {
    color: #E74C3C;
}

.header__subnav-item-link {
    float: left;
    padding-bottom: 18px;
    color: #333;
    text-decoration: none;
    font-size: 1.4rem;
    min-width: 230px;
    text-align: left;
}

.header__subnav-item {
    position: relative;
}

.header__subnav-item-link::before {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    position: absolute;
    top: 33%;
    left: 0;
    background-color: #E74C3C;
}


.header__nav-course-item-link {
    padding: 10px 0;
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
}

.header__nav-course-item-link i {
    margin-left: 2px;
}

.header__nav-login-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.header__nav-login-list {

}

.header__nav-login-item {
    margin-left: 20px;
    color: #fff;
}

.header__nav-login-item:last-child {
    min-width: 90px;
    height: 36px;
    background-color: #27AE60;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
}


.header__nav-login-item-youtube {
    color: #fff;
    text-decoration: none;
}

/* Slider */
.slider {
    margin-top: 60px;
    padding-top: 750px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.slider__content {
    width: 410px;
    height: 270px;
    position: absolute;
    z-index: 1;
    top: 146px;
    left: 230px;
}

.slider__content-heading {
    font-size: 3.8rem;
    color: #fff;
    letter-spacing: 1px;
}

.slider__content-about {
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
    margin: 30px 0 0 0;
}

.slider__content-view-courses {
    display: inline-block;
    color: #fff;
    padding: 14px 20px;
    background-color: #E74C3C;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 2px;
    margin-top: 40px;
    letter-spacing: 1px;
}

.container {
    padding-top: 40px;
    background-color: #f9f9f9;
}

.category {
    padding-bottom: 10px;
}

.category__heading {
    font-size: 3.6rem;
    font-weight: 300;
    margin-bottom: 30px;
    color: #231F20;
}

.category__select {
    display: inline-flex;
    border: 1px solid #949494;
    border-radius: 2px;
    align-items: center;
    padding: 12px 18px 12px 24px;
    background-color: #fff;
    font-weight: 400;
}

.category i {
    font-size: 2rem;
}

.category__select-icon {
    margin-right: 22px;
}
.category__select-level {
    margin-right: 88px;
}

.category__select-level-text:first-child {
    font-size: 1.4rem;
}

.category__select-level-text:last-child {
    font-size: 1.6rem;
}

/* Product */

.product__list {
    list-style: none;
    padding-bottom: 60px;
}

.product__item {
    margin-top: 50px;
}

.product__heading {
    font-size: 2.6rem;
    font-weight: 300;
    color: #333;
}

.product__content-link {
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
}

.product__content {
    display: flex;
}

.product__content-img {
    width: 140px;
    border-radius: 4px;
}

.product__content-disc {
    margin-left: 16px;
}


.product__content:hover .product__content-disc-heading, 
.product__content:hover .product__content-disc-lessons,
.product__content:hover .product__content-disc-level {
    color: #5774FC;
}

.product__content-disc-heading {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #231F20;
}

.product__content-disc-lessons {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 8px 0;
}

.product__content-disc-lessons i {
    margin-left: 4px;
}

.product__content-disc-level {
    font-size: 1.1rem;
    color: #4C4B51;
}

/* Sayabout */
.sayabout {
    padding-top: 65px;
    background-color: #ECF0F1;
    position: relative;
}

.sayabout-heading {
    font-size: 2.1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
    color: #182532;
}

.separate {
    display: block;
    border-top: 1px dashed #d0d0d0;
    width: 34%;
    margin: 32px auto 50px auto;
    position: relative;
}

.separate i {
    position: absolute;
    left: 47%;
    top: -11px;
    padding: 6px;
    color: #d8d8d8;
    background: #ECF0F1;
}

.sayabout-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sayabout-item:first-child {
    border-right: 1px dashed #d9d9d9;
    border-bottom: 1px dashed #d9d9d9;
}

.sayabout-item:nth-child(2) {
    border-bottom: 1px dashed #d9d9d9;
}

.sayabout-item:nth-child(3) {
    border-right: 1px dashed #d9d9d9;
}


.sayabout-item-wrap {
    display: flex;
    padding-top: 30px;
}

.sayabout-img {
    width: 75px;
    border-radius: 50%;
    margin: 0 20px 20px 47px;
}

.sayabout-disc {
    font-size: 1.4rem;
    color: #676767;
    line-height: 2.4rem;
}

.sayabout-author {
    display: block;
    font-size: 1.4rem;
    margin-left: 47px;
    color: #27293d;
    padding-bottom: 40px;
}


/* Video */
.video {
    padding-bottom: 36px;
}

.video__trending {
    font-size: 2.6rem;
    font-weight: 300;
    color: #333;
    padding: 50px 0 0 0;
    text-transform: capitalize;
}


.video__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video__item {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 36px;
}

.video__item-link {
    width: 350px;
    height: 197px;
    border-radius: 5px;

}

/* Footer */
.footer {
    background-color: #ECF0F1;
    padding-bottom: 200px;
    padding: 36px 0 0 0;
    border-top: 4px solid #27AE60;
}


.footer__logo {
    font-size: 2.6rem;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.footer__content {
    font-size: 1.6rem;
}

.footer__disc {
    font-size: 3.2rem;
    margin: 36px 0;
}


.footer__list {
    list-style: none;
}

.footer__heading {
    font-size: 1.8rem;
    margin-bottom: 18px;
    color: #231F20;
}

.footer__item-link {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: #231F20;
    padding: 10px 0;

}

.footer__item-link:hover {
    color: #425FE6;
}

.footer__item i {
    padding-right: 5px;
}

/* Copyright */
.copyright {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding: 24px 0;
    background-color: #ECF0F1;
}